@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@tailwind utilities;

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* Assuming your dark mode adds a `.dark` class to <html> or <body> */
header a:not(.active):hover {
  border-color: white;
  color:#1E90FF;
}
html, body {
  max-width: 100%;
  overflow-x: hidden;
}
header .dark a:not(.active):hover {
  border-color: #fbbf24; /* amber */
}


a .active {
  font-weight: 800;
  color: #1E90FF;
}
a {
  font-weight: 500;
  text-decoration: inherit;
}

.demo{

  font-weight: 800;
  letter-spacing: 0.08em;
  font-style: normal;
}


body {
  /* margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;*/
/* background: #3498db; */
/* background: -webkit-linear-gradient(to right, #3498db, #2c3e50); 
background: linear-gradient(to right, #3498db, #2c3e50);   */
  min-height: 100vh; 
font-family: "Montserrat", sans-serif;
  font-waight: 800;
  font-style: normal;
  font-size: 16px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#home .projects:hover {
  background-color: #0767ac;
  color: white;
}
#home .hire:hover{
  background-color: #0767ac;
}
.totop:hover {
  background-color: #0767ac;
  scale: 1.05;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

}
